header {
  background-color: #000000;
  color: #ffffff;
}
nav a {
  color: #ffffff;
}
body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 10px;
  background-color: #f4f4f4;
}
section {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
}
